<div class="row nested-fields well">
  <div class="col-sm-6 col-sm-6">
    <%= f.input :title %>
  </div>
 
  <%= link_to_remove_association "remove task", f, class: "btn btn-danger btn-sm" %>
  <hr>
</div>