
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.1', {packages: ['corechart']});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    // var data = google.visualization.arrayToDataTable(<%= raw @question.graph_data %>); 
    var data = new google.visualization.DataTable();

    data.addColumn('number', "answer_number");
    data.addColumn('number', 'answer_count');
    data.addColumn({type:'string', role:'annotation'});

    // raw has to be here to allow the quotes
    data.addRows(<%= raw @question.graph_data %>);  

    var options = {
      annotations: {
          // alwaysOutside: true,
          textStyle: {
            fontSize: 18,
            color: '#000',
            auraColor: 'none'
          },
      },
      chart: {
        title: '<%= @question.title %>',
        subtitle: 'If we want a subtitle it goes here',
      },
      trendlines: {
        // 0: {type: 'linear', lineWidth: 5, opacity: .3}
        0: {type: 'polynomial', degree: 4, lineWidth: 30, opacity: .3}
      },      
      hAxis: { gridlines: {color: 'transparent'}, textPosition: 'none'},
      vAxis: {title: 'weirdness', gridlines: {color: 'transparent'}, textPosition: 'none', 
        titleTextStyle: {
            fontName: 'Arial',
            fontSize: 36,
            color: '#053061',
            bold: true,
            italic: false
          } },
      baselineColor: 'transparent',
      width: 800,
      height: 500, 
      bar: {groupWidth: "85%"},
      backgroundColor: "transparent",
      // chartArea: {backgroundColor: "orange"}, 
      // animation: { duration: 1000},  // doesn't seem to do anything exciting...
      legend: { position: 'none' }
    };

    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart"));
    chart.draw(data, options);

    // This is for using Material Design Google charts
    // var chart = new google.charts.Bar(document.getElementById('columnchart'));
    // chart.draw(data, google.charts.Bar.convertOptions(options));
  }
</script>

<div id="columnchart"></div>
<%= raw @question.graph_data %>
