<h2 class='text-center splash_size'>Arguing about who's normal?</h2>
<h1 class='text-center '>At least one of you is clearly wrong.</h1>
<h2 class=' text-center'>Settle the question.</h2>
<%# link_to 'Sign up', new_user_path, class: "btn btn-lg btn-primary"  %>
<br>

<div class="col-md-3"></div>
<div class="col-md-6">
  <%= form_for @user, url: {action: "create"} do |f| %>
    <%= render 'fields', f: f %>
    <br>
    <%= f.submit "Sign me up", class: "form-control btn btn-info" %>
  <% end %>
</div>
