<% if @user != nil && @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      This form contains <%= pluralize(@user.errors.count, "error") %>. Please correct the following:
    </div>
    <ul>
      <% @user.errors.full_messages.each do |user_err_msg| %>
        <li><%= user_err_msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @question != nil && @question.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      This form contains <%= pluralize(@question.errors.count, "error") %>. Please correct the following:
    </div>
    <ul>
      <% @question.errors.full_messages.each do |question_err_msg| %>
        <li><%= question_err_msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>